article.advert {
  background-color: #eee;
  margin-bottom: 20px;
  padding: 10px
}

header nav ul {
  list-style: none
}

header nav ul li {
  display: inline-block;
  margin-right: 16px
}

.long {
  width: 400px
}

img.xs {
  height: 50px
}
